body {
  font-family: Georgia;
  font-size: 16px;
  margin: 0 auto;   /* center content */
  max-width: 800px; /* limit width */
  line-height: 1.5;
  padding-top: 10px;
  padding-bottom: 32px;
}

/* BEGIN (write your solution here) */

h1 {
    font-size: 36px;
    margin-bottom: 0px;
	font-weight: 400;
}
h2 {
	font-size: 28px;
    margin-bottom: 8px;
	border-bottom: 1px solid #001f3f;
	font-weight: 400;
	margin-top:15px;
}
h3 {
	font-size: 20px;
    margin-bottom: 0px;
	font-weight: 400;
}
h4 {
	font-size: 16px;
    margin-bottom: 0px;
	font-weight: bolder;
	margin-top: 15px;
}
h5 {font-size: 16px;
    margin-bottom: 0px;
	font-weight: 500;
	margin-top: 0px;
}
ul {font-size: 16px;
    margin-bottom: 5px;
	font-weight: 500;
	margin-top: 5px;
	
}

#header {
	margin-bottom: 32px;
	text-align: center;
}
#footer {
	margin-top: 64px;
	text-align: center;
}


/* END */
